h1 {
    color: white;
    text-align: center;
    background-color: black;
    font-family: fantasy;

}

body {
   background-color: grey;
   font-family: fantasy;

}

/* Selecting elements by class */
.container {
    width: 1024px;
    margin: 0 auto;
  }
  
table {
    border: ivory;
    box-shadow: 2,2,indianred;
}